<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>YeeHA <%= locals.msg || 'weeeeeeeeeee' %> </h1>
    <nav style="display: flex; flex-direction: column; margin: 1rem; gap:1rem; font-size: 1.5rem;">
        <a href="users">Users</a>
        <a href="users/new">New</a>
    </nav>
</body>
</html>